.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: black;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.box {
  	color: black;
	border: 3px solid #73AD21;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 60%;
	padding: 10px;
}

.link {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 60%;
	padding: 10px;
}

.App-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
    width: 20%;
	padding: 0px;
	border: 3px solid #73AD21;
}

.cargoCapPic {
    display: block;
    margin-left: auto;
    margin-right: 8%;
	margin-top: 10px;
    width: 50%;
	padding: 0px;
	border: 3px solid #73AD21;
	float: right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
